FormatSchemes/ProjectFile/ShowFile_v0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.asta.uni-luebeck.de/MissionDMX/ShowFile" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.asta.uni-luebeck.de/MissionDMX/ShowFile">

    <complexType name="BordConfiguration">
    	<sequence>
    		<element name="scene" type="tns:Scene" maxOccurs="unbounded" minOccurs="1"></element>
    		<element name="device" maxOccurs="unbounded" type="tns:Device" minOccurs="0"></element>
    		<element name="universe" maxOccurs="unbounded" type="tns:Universe" minOccurs="0">
    			<annotation>
    				<documentation>The universe option will be updated by the real time application. It can to be configured using protobuffs though.</documentation>
    			</annotation>
            </element>
            <element name="uihint" type="tns:KeyValuePair" maxOccurs="unbounded" minOccurs="0"></element>
    	</sequence>
    	<attribute name="show_name" type="string">
    		<annotation>
    			<documentation>
    				A human readable Name of the show
    			</documentation>
    		</annotation>
    	</attribute>
    	<attribute name="default_active_scene" type="int">
    		<annotation>
    			<documentation>
    				The ID of the scene to start at first startup.
    			</documentation>
    		</annotation>
    	</attribute>
    	<attribute name="notes" type="string">
    		<annotation>
    			<documentation>A human readable description of the show file or notes that can be viewed by the operator. This attribute is not used by the real time software.</documentation>
    		</annotation>
        </attribute>
    </complexType>

    <complexType name="Filter">
        <annotation>
        	<documentation>A Filter object is used to construct a filter in the processing chain. It may refer to an input filter, a processing filter or an output filter.</documentation>
        </annotation>
        <sequence>
        	<annotation>
        		<documentation>
        			This sequence specifies the linking of output
        			channels to this filters input channels.
        		</documentation>
        	</annotation>
        	<element name="channellink" minOccurs="0" maxOccurs="unbounded" type="tns:ChannelLink"></element>
        	<element name="filterConfiguration" minOccurs="0"
        		maxOccurs="unbounded" type="tns:KeyValuePair">
        		<annotation>
        			<documentation>
        				The static filter properties (used in
        				construction)
        			</documentation>
        		</annotation>
        	</element>
        	<element name="initialParameters" minOccurs="0" maxOccurs="unbounded" type="tns:KeyValuePair">
        		<annotation>
        			<documentation>The initial filter parameters. Parameters can be used to set data from the non real time application.
These should only be used if strictly nessessary as updating them is very expensive.
They can be used to implement UI controls on the touch screens besides scene switching though.</documentation>
        		</annotation>
            </element>
        </sequence>
        <attribute name="type" type="int" use="required">
    		<annotation>
    			<documentation>The type contains the type ID of the filter (for example a sequence or shiftregister).</documentation>
    		</annotation></attribute>
    	<attribute name="id" type="string" use="required">
    		<annotation>
    			<documentation>The ID is used to query this filter during scene construction (to the filters output to the inputs of other filters). It must not contain colons.</documentation>
            </annotation>
        </attribute>
		<attribute name="pos" type="string" use="required">
    		<annotation>
    			<documentation>Filter node position inside the editor ui.</documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="Scene">
        <annotation>
        	<documentation>A scene contains the filter chain description.</documentation>
        </annotation>
        <sequence>
        	<element name="filter" maxOccurs="unbounded" type="tns:Filter"></element>
        </sequence>
        <attribute name="human_readable_name" type="string">
    		<annotation>
    			<documentation>A human readable name for the scene</documentation>
    		</annotation>
        </attribute>
    	<attribute name="id" type="int">
    		<annotation>
    			<documentation>The internal ID of the scene used for reference and for communication with other bords. It must be unique.</documentation>
    		</annotation>
        </attribute>
    </complexType>

    <complexType name="ChannelLink">
        <annotation>
        	<documentation>A Channel link is used to register the pointer of an output channel with an input channel of the current filter</documentation>
        </annotation>
    	<attribute name="input_channel_id" type="string" use="required">
    		<annotation>
    			<documentation>The input channel id to register the pointer of the previous filters output with.</documentation>
    		</annotation>
        </attribute>
    	<attribute name="output_channel_id" type="string" use="required">
    		<annotation>
    			<documentation>This id is used to fetch the output channel pointer. It's syntax is &lt;filter_id&gt;:&lt;channel_id&gt;. For example move_head_control1:pan</documentation>
    		</annotation>
        </attribute>
    </complexType>

    <complexType name="Universe">
    	<annotation>
    		<documentation>
    			A universe contains the routing information for the
    			devices.
    		</documentation>
    	</annotation>
    	<choice>
    		<element name="physical_location" type="int">
    			<annotation>
    				<documentation>
    					Route the universe to one of the physical
    					outputs of the desk
    				</documentation>
    			</annotation>
    		</element>
    		<element name="artnet_location" type="tns:ArtnetLocation"></element>
            <element name="ftdi_location" type="tns:FTDILocation"></element>
    	</choice>
    	<attribute name="name" type="string">
    		<annotation>
    			<documentation>
    				A human readable name of the universe. It is only
    				relevant to the operator but not to the real time
    				application.
    			</documentation>
    		</annotation>
    	</attribute>
    	<attribute name="description" type="string">
    		<annotation>
    			<documentation>
    				A human readable description of the universe. It is
    				only relevant to the operator but not to the real
    				time application.
    			</documentation>
    		</annotation>
    	</attribute>
    	<attribute name="id" type="int" use="required">
    		<annotation>
    			<documentation>
    				The id used to identify the universe.
    			</documentation>
    		</annotation>
    	</attribute>
    </complexType>

    <complexType name="ArtnetLocation">
    	<attribute name="ip_address" type="string" use="required">
    		<annotation>
    			<documentation>The IPv4 or IPv6 address of the stage box</documentation>
    		</annotation>
        </attribute>
    	<attribute name="udp_port" type="int" use="required">
    		<annotation>
    			<documentation>The udp port the stage box listens on</documentation>
    		</annotation>
        </attribute>
    	<attribute name="device_universe_id" type="int" use="required">
    		<annotation>
    			<documentation>The configured universe id on the stage box</documentation>
    		</annotation>
        </attribute>
    </complexType>
    
    <complexType name="FTDILocation">
        <attribute name="vendor_id" use="required" type="int"></attribute>
        <attribute name="product_id" use="required" type="int"></attribute>
        <attribute name="device_name" use="required" type="string"></attribute>
        <attribute name="serial_identifier" type="string"></attribute>
    </complexType>

    <complexType name="Device">
    	<attribute name="id" type="int">
    		<annotation>
    			<documentation>
    				Internal id to identify the device
    			</documentation>
    		</annotation>
    	</attribute>
    	<attribute name="channel" type="int">
    		<annotation>
    			<documentation>
    				The lowest channel utilized by the device
    			</documentation>
    		</annotation>
    	</attribute>
    	<attribute name="type" type="string">
    		<annotation>
    			<documentation>
    				The Model / Manufacturer of the device
    			</documentation>
    		</annotation>
    	</attribute>
    	<attribute name="name" type="string">
    		<annotation>
    			<documentation>
    				The human readable name used to refer to this device
    				in the GUI
    			</documentation>
    		</annotation>
    	</attribute>
    	<attribute name="universe_id" type="int">
    		<annotation>
    			<documentation>
    				The ID of the universe where the device is located.
    			</documentation>
    		</annotation>
    	</attribute>
    </complexType>


    <attribute name="version">
    	<annotation>
    		<documentation>
    			Specify the file format version used. This is version 0.
    		</documentation>
    	</annotation>
    	<simpleType>
    		<restriction base="int">
    			<minInclusive value="0"></minInclusive>
    		</restriction>
    	</simpleType>
    </attribute>

    <complexType name="KeyValuePair">
    	<annotation>
    		<documentation>
    			This type contains a K-V pair for UI hints that will not
    			be utilized by the real time engine but can be used by
    			the project editor to store miscallaneus things, like
    			for example view settings or filter groups
    		</documentation>
    	</annotation>
    	<attribute name="name" type="string" use="required">
    		<annotation>
    			<documentation>
    				This is the unique name of the data entry
    			</documentation>
    		</annotation>
    	</attribute>
    	<attribute name="value" type="string" use="required">
    		<annotation>
    			<documentation>The data to be stored (needs to be encoded as an XML compliant string).</documentation>
    		</annotation>
        </attribute>
    </complexType>
    
    <element name="bord_configuration" type="tns:BordConfiguration"></element>
</schema>
